.footer {width:100%; height: 100px; background-color: #1c73adf5;  margin-top:40px; float: left; }
.iletisim {width:100%; height: 50%; margin-top: 40px; margin-left:5%;}
.iletisim img {width:30%; height: 100%;}